body {
  display: flex;

  height: 100vh;
  background-color: #f4f4f4;
  background-image: url(homeimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-container {

  max-width: 50%;
  
  padding: 10%;
}

h1 {
  color: #23217d;
}

p {
  line-height: 1.6;
  color: gray;
}